*, *::after,*::before{
    box-sizing: border-box;
}

:root{

    --main-black:#151515;
    --main-white:#FFFFFF;
    --main-gray:#F0F0F0;

}


html{
    font-size: 62.5%;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--main-gray);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 0.8rem;
    gap:3.5rem;
}

/* Header */

header{
    /* display: flex; */
    /* justify-content: space-between; */
    min-width: 320px;

   
    
}

.logo, .menu{
    width:52px;
    height: 52px;
}

.nav-ul{
    display: none;
}

.action-buttons{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

button{
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn-header{
    height: 52px;
    width: 145px;
    font-size:1.8rem;
}

.btn-signup{
    color:var(--main-white);
    background-color: var(--main-black);
}

.btn-login{
    color:var(--main-black);
    background-color: var(--main-gray);
}

/* Hero */

.hero{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.hero__img{
   width:330px;
   height:348px;
}

.hero__heading{
    font-size: 2.8rem;
    min-width: 320px;
    max-width: 320px;
}

.hero__matter{
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size:1.8rem;
    line-height: 1.5;
    min-width: 320px;
    max-width: 320px;
}

.payments{
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    max-width: 320px;
}

.email{
    min-width: 320px;
    max-width: 323px;
}

.email input{
    /* width:280px;
    height: 52px; */

    min-width:200px;
    height: 40px;
}

.btn-email{
    /* width:198px;
    height: 52px; */

    min-width:120px;
    height: 40px;
    background-color: var(--main-black);
    color:var(--main-white);
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.email input::placeholder{
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color:var(--main-black);
}

@media screen and (min-width:1024px)
{

    body{
        padding:3.6rem 3.2rem;
    }

    header{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: none;
    }

    nav{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-ul{
        list-style: none;
        display: flex;
        gap:3.5rem;
    }

    .nav__item{
        font-size:1.8rem;
    }

    .nav__item a{
        text-decoration: none;
        color:var(--main-black);
        cursor: pointer;
    }

    .action-buttons{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:3.5rem;
    }

    .hero{
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__img{
        width:550px;
        height:580px;
     }
     
     .hero__heading{
         font-size: 7rem;
         min-width: 450px;
         max-width: 450px;
     }
     
     .hero__matter{
         margin-top: -4rem;
         margin-bottom: 3.5rem;
         font-size:1.8rem;
         min-width: 450px;
         max-width: 450px;
     }
     
     
     .email{
         min-width: 450px;
         max-width: 450px;
         margin-bottom: 3.5rem;
     }
     
     .email input{

         min-width:250px;
         height: 40px;
     }
     
     .btn-email{
     
         min-width:130px;
         height: 40px;
         margin-left:-0.3rem;
         margin-bottom: 0;
     }

     
}


@media screen and (min-width:1440px)
{
    body{
        padding:3.6rem 8rem;
    }

    .hero__heading{
        min-width:721px;
        max-width: 721px;
    }
}

@media screen and (min-width:2560px)
{
    body{
        padding:3.6rem 14rem;
    }

    .hero{
        justify-content: center;
    }
}