*, *::after,*::before{
    box-sizing: border-box;
}

:root{

    --main-black:#151515;
    --main-white:#FFFFFF;
    --main-gray:#F0F0F0;

}


html{
    font-size: 62.5%;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--main-gray);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 0.8rem;
    gap:3.5rem;
    min-width: 100%;
}

/* Header */

header{
    /* display: flex; */
    /* justify-content: space-between; */
    min-width: 320px;

   
    
}

.logo, .menu{
    width:52px;
    height: 52px;
}

.nav-ul{
    display: none;
}

.action-buttons{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

button{
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn-header{
    height: 52px;
    width: 145px;
    font-size:1.8rem;
}

.btn-signup{
    color:var(--main-white);
    background-color: var(--main-black);
}

.btn-login{
    color:var(--main-black);
    background-color: var(--main-gray);
}

/* Hero */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.hero__img{
   width:330px;
   height:348px;
}

.hero__heading{
    font-size: 2.8rem;
    min-width: 320px;
    max-width: 320px;
}

.hero__matter{
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size:1.8rem;
    line-height: 1.5;
    min-width: 320px;
    max-width: 320px;
}

.payments{
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    max-width: 320px;
}

.email{
    display: flex;
    min-width: 320px;
    max-width: 323px;
}

.email input{
    /* width:280px;
    height: 52px; */

    min-width:200px;
    height: 40px;
    border-radius: 0;
    border:0;
    border:2px solid var(--main-black);
    outline: none;
    font-size: 1.8rem;
}

.btn-email{
    /* width:198px;
    height: 52px; */

    min-width:120px;
    height: 40px;
    background-color: var(--main-black);
    color:var(--main-white);
    font-size: 1.8rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.email input::placeholder{
    font-size: 1.8rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    color:var(--main-black);
}


/* About Us */

.about-us{
    margin-top:7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us__heading{

    min-width:282px;
    max-width: 282px;
    font-size: 2.8rem;
    
}


.about-us__matter{
    min-width: 320px;
    max-width: 320px;
    font-size: 1.8rem;
}

.about-us__list li{
    font-size:1.8rem ;
    display: flex;
    align-items: center;
    margin-top:3.1rem;
}

.about-us__list{
    list-style: none;
    padding-left:0;
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 7rem;

}

.about-us__img{
    width:370px;
    height: 320px;
}

/* HIW */

.hiw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiw__heading{
    font-size: 2.8rem;
    min-width: 316px;
    max-width: 316px;
}

.item__heading{
    font-size:2rem;
    font-weight: bold;
    min-width: 184px;
    max-width: 184px;
}

.item__content{
    font-size: 1.8rem;
    min-width: 236px;
    max-width: 236px;
}

.hiw__item{
    display: flex;
    gap:1rem;
}

.hiw__list{
    list-style: none;
    padding-left: 0;
}

.hiw__item img{
    width:68px;
    height: 68px;
}


.hiw__image{
    width:280px;
    height: 400px;
}

/* Pricing */

/* .pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

.pricing__heading{
    
    font-size: 2.8rem;
    min-width:275px;
    max-width: 275px;
}

.pricing__matter{
    font-size:1.8rem;
    min-width:320px;
    max-width: 320px;
}


.pricing__img{
    width:280px;
    height: 298px;
}


.card__list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:4rem;
    margin-bottom:4rem;
}

.price-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.price-card{
    border:2px solid var(--main-black);
    max-width:320px;
    min-width: 320px;
    /* min-height: 540px;
    max-height: 540px; */
    padding: 3rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__matter{
    font-size: 2rem;
}

.card__item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.8rem;
}

.card__button, .card__button-white{
    font-size: 1.8rem;
    height: 52px; 
    width: 240px;
    /* position: relative;
    left:7%; */

}

.card-white .card__button, .card-gray .card__button{
    background-color: var(--main-black);
    color:var(--main-white);
}

.card-white{
    background-color: var(--main-white);
}

.card-black{
    background-color: black;
    color: var(--main-white);
}

.card__button-white{
    background-color: white;

}


.dollar{
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    top:-4rem;
}

.amount{
    font-size: 8rem;
}

.mo{
    font-size: 2rem;
    font-weight: bold;
}

.pricing__first{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    margin-top: 4rem;
}

/* FAQs */

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq__heading{
    font-size: 2.8rem;
}

.faq__matter{
    font-size: 1.8rem;
    min-width: 320px;
    max-width: 320px;
}

.faq__image{
    min-width: 360px;
    max-width: 360px;
}

.faq__accordion{
    min-width: 320px;
    max-width: 320px;

}

.question-box, .answer-box{
    display: flex;
    justify-content: space-between;
    
}

#a1{
    display: none;
}

#a2{
    display: none;
}

#a3{
    display: none;
}

#a4{
    display: none;
}

#a5{
    display: none;
}

.faq__first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    font-size: 2rem;
    font-weight: bold;
}

.answer{
    font-size: 1.8rem;
    /* min-width:310px;
    max-width: 310px;
     */
}

.plus, .minus{
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.plus{
    position: relative;
    top:2rem;
}

.minus{
    position: relative;
    top: 1rem;
}

.expand{
    display:visible;
}


@media screen and (min-width:1024px)
{

    body{
        padding:3.6rem 3.2rem;
        /* width:100vw; */

    }

    header{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: none;
    }

    nav{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-ul{
        list-style: none;
        display: flex;
        gap:3.5rem;
    }

    .nav__item{
        font-size:1.8rem;
    }

    .nav__item a{
        text-decoration: none;
        color:var(--main-black);
        cursor: pointer;
    }

    .action-buttons{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:3.5rem;
    }

    .hero{
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__img{
        width:490px;
        height:580px;
     }
     
     .hero__heading{
         font-size: 7rem;
         min-width: 450px;
         max-width: 450px;
     }
     
     .hero__matter{
         margin-top: -4rem;
         margin-bottom: 3.5rem;
         font-size:1.8rem;
         min-width: 450px;
         max-width: 450px;
     }
     
     
     .email{
         min-width: 450px;
         max-width: 450px;
         margin-bottom: 3.5rem;
     }
     
     .email input{

         min-width:250px;
         height: 40px;
         padding-left: 2rem;
         padding-right: 2rem;

     }
     
     .btn-email{
     
         min-width:130px;
         height: 40px;
         margin-left:-0.3rem;
         margin-bottom: 0;
     }

     .about-us{
        flex-direction: row;
        justify-content: space-between;
        
     }

     .about-us__img{
        order:-1;
        width:500px;
        height: 432px;
     }

     .about-us__heading{
        min-width:481px;
        max-width: 481px;
        font-size: 6rem;
        
     }


     .about-us__matter{
        min-width:450px;
        max-width: 450px;
        font-size: 1.8rem;
     
     }

     .about-us__list{
        min-width:580px;
        max-width: 580px;
     }

     .about-us__list li{
        font-size: 1.8rem;
     }




     .hiw{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .hiw__heading{
        font-size: 6rem;
        min-width: 398px;
        max-width: 398px;
    }
    
    .item__heading{
        font-size:2.8rem;
        min-width: 400px;
        max-width: 400px;
    }
    
    .item__content{
        font-size: 1.8rem;  
        min-width: 400px;
        max-width: 400px;
    }
    
    .hiw__item{
      
        gap:2rem;
    }
    

    .hiw__item img{
        width:100px;
        height: 100px;
    }
    
    
    .hiw__image{
        width:420px;
        height: 600px;
    }


    .pricing{
        margin-top: 7rem;     
    
    }

    .pricing__img
    {
        order: -1;
        width:380px;
        height: 404px;
    }

    

    .pricing__heading{
        font-size: 6rem;
        min-width: 588px;
        max-width: 588px;
    }

    .pricing__matter{
        min-width: 588px;
        max-width: 588px;

    }

    .price-cards{
        flex-direction: row;
        justify-content: space-between;
    }

    .price-card{
        min-height: 644px;
        max-width:304px;
        min-width: 304px;
    }


    .pricing__first{
        flex-direction: row;
        justify-content: space-between;
     
    }

    .faq__heading{
        font-size: 6rem;
    }

    .faq__matter{
        min-width: 532px;
        max-width: 532px;
    }

    .faq__accordion{
        min-width: 840px;
        max-width: 840px;
    }

    .faq__first{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .faqs{
        flex-direction: row;
        align-items: flex-start;
    }
    
}


@media screen and (min-width:1440px)
{
    body{
        padding:3.6rem 8rem;
    }

    .hero__heading{
        min-width:721px;
        max-width: 721px;
    }

    .about-us__img{
        order:-1;
        width:500px;
        height: 500px;
     }

     .about-us__heading{
        min-width:750px;
        max-width: 750px;

     }

     .about-us__matter{
        min-width:712px;
        max-width: 712px;
     
     }

     .hiw__image{
        width:490px;
        height: 700px;
    }

    .pricing__img
    {
        
        width:470px;
        height: 500px;
    }

    
    .price-card{
        max-width:416px;
        min-width: 416px;
    }

    

}

@media screen and (min-width:2560px)
{
    body{
        padding:3.6rem 14rem;
    }

    .hero{
        justify-content: center;
        gap:29rem;
    }

    .about-us{
        justify-content: center;
        gap:29rem;
    }

    .hiw{
        justify-content: center;
        gap:29rem;
    }

    .pricing__first
    {
        justify-content: center;
        gap:29rem;
    }

    .price-cards{
        justify-content: center;
    }

    .price-card{
        max-width:436px;
        min-width: 436px;
        
    }
}